@font-face {
    font-family: 'mac_webfont';
    src: url('../fonts/mac-webfont.eot');
    src: url('../fonts/mac-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mac-webfont.woff') format('woff'),
         url('../fonts/mac-webfont.ttf') format('truetype'),
         url('../fonts/mac-webfont.svg#lucida_granderegular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'menlo_regular';
    src: url('../fonts/menlo-regular-webfont.eot');
    src: url('../fonts/menlo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/menlo-regular-webfont.woff') format('woff'),
         url('../fonts/menlo-regular-webfont.ttf') format('truetype'),
         url('../fonts/menlo-regular-webfont.svg#menloregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'menlo_italic';
    src: url('../fonts/menlo-italic-webfont.eot');
    src: url('../fonts/menlo-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/menlo-italic-webfont.woff') format('woff'),
         url('../fonts/menlo-italic-webfont.ttf') format('truetype'),
         url('../fonts/menlo-italic-webfont.svg#menloitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{ outline: none !Important;
}






#mini-viewport {
  height:654px;
  width:100%;
  position:absolute;
  top:0px;
  background-color:rgba(255, 255, 255, 0.11);

}


.selected-file {
  background:url(../images/background_active_page.jpg) !important;
  color:white !important;
}

#folders a {
display: block;
/*background: rgba(255, 0, 0, 0.32); */
height: 12px;
width: 100%;
padding: 4px 0px;
text-decoration: none;
color: black;
cursor: default;

}

.linedwrap {
border: none !important;
border-top: 1px solid rgb(113, 113, 113) !important;
overflow: hidden;
margin-top: -1px;
width: 763px !important;
padding-right: 118px;
}

.right-sidebar {
  width:100%;
  height:100%;
  position: relative;
}

.right-sidebar-positioning-div {
 width: 100px;
height: 100px;
display: block;
position: absolute;
top: 56px;
right: 23px;
/*background: blue; */
z-index: 992;
}

.linedtextarea {
  color: white;
  font-family: 'menlo_regular';
  font-size: 12px;
  line-height: 16.5px !important;
  margin-top: 5px;
  overflow:hidden;
}

.linedwrap .lines {
  margin-top: 0px;
  width: 50px;
  float: left;
  overflow: hidden;
  margin-right: 7px;
  border-right:none !important;
}


.linedwrap .codelines .lineno {
  padding-right: 17px;
  font-family: 'menlo_regular';
  font-size: 12px;
  line-height: 16.5px !important;
}


#content-clipper {
  background: red;
  height: 625px;
  overflow-y: hidden;
  overflow-x: hidden;
}



#content-area {
  /*background:#272822;*/
  background:#003535;
  width:1140px;
  position:relative;
}

.right-summary {
  width: 700px !important;
  position: absolute;
  float: right;
  color: white;
  overflow: hidden;
  -webkit-transform: scale(0.17);
  -webkit-transform-origin: 0 0;
  left: -10px;
}

.red {color:red;}
.content-ul li {
 /* padding: 3px 0px; */
}


ul.sub-nav, ul.sub-sub-nav {
   display: none;
}

ul.visible {
    display: block;
}


#folders {letter-spacing: .5px;
}


.arrow-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 9px solid #868686;
  float: left;
  margin-right: 6px;
  margin-left: 13px;
  margin-top:6px;
}
.active-arrow {
  -webkit-transform:rotate(90deg);
}
.arrow-hover {

  border-left:9px solid #9f9f9f !important;
}

.second-level-arrow-indent {
  margin-left: 25px;

}

#contents-css li a {text-indent:50px;}

.content-ul {
 
}

.indent {
left: -9px;
position: relative;
WIDTH: 256PX;
}

/*.no-arrow {
  margin-left: 15px;
  padding: 3px 0px;
} */

.no-arrow a {
  text-indent: 39px;
}

.left-nav {
/* padding-top: 7px; */
}

#folder-portfolio {
padding-top:2px;
}

#folder-css {
padding-left: 9px;
padding-top:0px;
display:block;
}

.back-img {
  position: absolute;
  top: -67px;
  left: -1px;
  z-index: -99;
  width:1142px;
}


#top-bar {
  text-align: center;
  position: relative;

}

.box-title{
  background: url(../images/background_top-box.jpg);
  background-repeat: repeat-x;
  font-weight: 500;
  padding: 0px;
  max-height:21px;
  border-bottom:1px solid rgb(87, 87, 87);
} 

.box-title img {
  height: 16px;
  padding-right: 3px;
  padding-top: 3px;

}

.box-title-words {
  display: inline-block;
  position: relative;
  top: -3px;
  text-shadow: 0px 1px 0px rgb(208, 208, 208);
  font-size:13px; 
}

#buttons {
  float: left;
  position: absolute;
  left: 1px;
}


#folder-structure {
 float: left;
  width: 256px;
  height: 659px;
  padding: 5px 0px 0px 9px;
  box-sizing: border-box;
  font-size: 10PX;
  background:#e6e6e6;
  z-index:5;
  position:relative;
}

#allem {
  max-width:1140px;
  position:relative;
 }


.mainTextArea {
  width:99% !important;
 }

body{
  background : #efefef;
  font : .8em 'mac_webfont';
  margin: 0;
}

.tab-container{
  margin: 0;
  padding: 0;
  max-height: 34px;
  background:#171814;
  width:100%;
}

ul.tabs{
  margin: 0;
  list-style-type : none;
  line-height : 35px;
  max-height: 34px;
  overflow: hidden;
  display: inline-block;
  /*width:870px;*/
  padding-left:14px;
}

ul.tabs > li.active{
  z-index: 2;
  background: url(../images/tab-background_active.jpg);
  background-size:28px;
  background-repeat:repeat-x;
}


ul.tabs > li.active > a {
  color:rgb(210, 210, 210)

}





ul.tabs > li.active:before{
  border-color : transparent #292929 transparent transparent;
}


ul.tabs > li.active:after{
  border-color : transparent transparent transparent #292929;
}

ul.tabs > li{
  float : right;
  margin : 7px -10px 0;
  border-top-right-radius: 25px 170px;
  border-top-left-radius: 20px 90px;
  padding : 0 40px 0 25px;
  height: 170px;
  background: url(../images/tab-background.jpg);
  background-size: 16px;
  background-repeat:repeat-x;
  position : relative;
  box-shadow: 0 10px 20px rgba(0,0,0,.5);
  max-width : 200px;
  min-width:129px;
  border-top: 1px solid rgb(137, 137, 137);
}

ul.tabs > li > a{
  display: inline-block;
  max-width:100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  position: relative;
  top:-3px;
   font-size: 10px;
  letter-spacing: .5px;
  color: rgb(147, 147, 147);
  white-space:nowrap;
}


.close-tab {
  float: right;
  margin-right: 3px;
  -webkit-transform: rotate(45deg);
  font-size: 15px !important;
  -webkit-font-smoothing: inherit;
  font-weight: bold;
  color:rgb(119, 119, 119) !important;
  position: absolute !important;
  right: 25px;
}


ul.tabs > li:before, ul.tabs > li:after{
  content : '';
  background : transparent;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  border-width: 10px;
  top: 0px;
  border-style : solid;
  position : absolute;
  z-index: -999;
}

ul.tabs > li:before{
  border-color : transparent #3A3A3A transparent transparent;
  -webkit-transform : rotate(48deg);
  left: -23px;
}

ul.tabs > li:after{
  border-color : transparent transparent transparent #383838;
  -webkit-transform : rotate(-48deg);
  right: -17px;
}

/* Clear Fix took for HTML 5 Boilerlate*/

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


.mCSB_container {
width: auto;
padding-right: 30px;
margin-right:0px !important;
overflow: hidden;
}



.mCSB_dragger_bar {
  width: 8px !important;
}

.mCSB_scrollTools .mCSB_draggerRail {
  width: 17px !important;
}


.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {

background: #585858 !important; /* Old browsers */
background: -moz-linear-gradient(left,  #585858 0%, #404040 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#585858), color-stop(100%,#404040)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #585858 0%,#404040 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #585858 0%,#404040 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #585858 0%,#404040 100%) !important; /* IE10+ */
background: linear-gradient(to right,  #585858 0%,#404040 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#585858', endColorstr='#404040',GradientType=1 ) !important; /* IE6-9 */


border: 1px solid rgb(20, 20, 20);


}




.mCSB_scrollTools {
  opacity:1 !important;

}

.mCSB_scrollTools .mCSB_draggerRail {
-webkit-border-radius: 0px !important;
-moz-border-radius: 0px !important;
border-radius: 0px !important;
}


code {
font-family: 'menlo_regular';

}

#footer {
width: 100%;
height: 20px;
background-color: red;
background: #636263;
background: -moz-linear-gradient(top, #636263 13%, #636263 13%, #595959 15%, #595959 15%, #555555 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(13%,#636263), color-stop(13%,#636263), color-stop(15%,#595959), color-stop(15%,#595959), color-stop(100%,#555555));
background: -webkit-linear-gradient(top, #636263 13%,#636263 13%,#595959 15%,#595959 15%,#555555 100%);
background: -o-linear-gradient(top, #636263 13%,#636263 13%,#595959 15%,#595959 15%,#555555 100%);
background: -ms-linear-gradient(top, #636263 13%,#636263 13%,#595959 15%,#595959 15%,#555555 100%);
background: linear-gradient(to bottom, #636263 13%,#636263 13%,#595959 15%,#595959 15%,#555555 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#636263', endColorstr='#555555',GradientType=0 );
border-top: 1px solid rgb(157, 157, 157);
}

.hide-show {
top:100px;
-webkit-transition:all .5s;

}

.not-opened {
/*  display:none;*/

top: 100px;
display: none;




}



.tb-hidden {
  display:none;

}
