
body {
/*  background: url(file:///Users/tfoster612/Desktop/newport/port-space.png);*/
  background-attachment: fixed;
}

#site-header {
    width: 960px;
    display: block;
    margin: 0 auto;
}

#site-header h1 {
  color: white;
  margin-left: 69px;
  padding: 20px 0px;

}

#content {
  width:960px;
  display:block;
  margin:0 auto;
  left: -20px;
  position: relative;
}


article.port-item{
  position: relative;
  float: left;
  width: 29%;
  left:0px;
  bottom:0px;
  -webkit-transform: skew(-5deg);
  -moz-transform: skew(-5deg);
  -o-transform: skew(-5deg);
  background: red;
  margin-left: 34px;
  height: 387px;
  margin-bottom: 33px;
  -webkit-transition: all .2s;/*-webkit-transform .2s ease-in-out;*/
 
}


article.port-item:nth-child(even) {

 -webkit-animation: bobble 2s infinite;
}

article.port-item:nth-child(odd) { 
 -webkit-animation: bobbleOdd 2s infinite;
}


@-webkit-keyframes bobble {
0%{bottom:0px;}
25%{bottom:3px;}
50%{bottom:0px;}
75%P{bottom:-3px}
100%{bottom:0px}


}


@-webkit-keyframes bobbleOdd {
0%{bottom:0px;}
25%{bottom:-3px;}
50%{bottom:0px;}
75%P{bottom:3px}
100%{bottom:0px}


}


article.port-item:hover {
  position: relative;
  left: 10px;
  bottom: 10px;
  
}

.port-item img{
  width: 88%;
  height: 91%;
  margin-left: 6% !important;
  -webkit-transition:all .2s;
  margin-top: 6% !important;
}

.port-item h3 {
  position: absolute;
  width: 100%;
  background: cyan;
  text-align: center;
  bottom: 20px;
  min-height: 65px;
  
  line-height: 65px;
  font-family: 'Oswald';
  -webkit-transition-delay:5s;
  -webkit-transition:all .2s;
}
#main-nav ul {
    display: block;
  margin: 0 auto;
  width: 960px;
  margin-bottom: 15px;
  height: 57px;
  -webkit-padding-start: 0PX;
}

#main-nav li {
  float: left;
  font-size: 2em;
  color: white;
  margin: 0px 11px;
  list-style-type: none;
  background: rgba(128, 128, 128, 0.55);
  -webkit-transform: skew(-5deg);
}

#main-nav li a {
  padding: 10px 58px;
  display: block;
}


article.port-item.port-hover img {
  margin-left: 20px !important;
  margin-top: 5% !important;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.58);
}
article.port-item.port-hover h3 {
  bottom:25px;
  margin-left:10px;
  box-shadow: 0px 10px 28px rgba(0, 0, 0, 0.61);
}

.title-skew {
  display:block;
  -webkit-transform:skew(5deg);
  -webkit-transition:all .2s;
}
/*.port-hover h3 span.title-skew {LEFT: 20px;
BOTTOM: 5px;
position: relative;
text-shadow: -14px 6px 28px rgba(0, 0, 0, 0.52), -1px 2px 1px rgba(255, 255, 255, 0.59)}
*/